---
layout: default
---

<article class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date"> {{ page.date | date: site.date_format }} 
  {% if page.reading_time %}
   &middot; {{ page.reading_time }} min read 
  {% endif %}
  </span>
  {{ content }}
</article>

{% if site.related_posts.size > 0 %}
<div class="related">
  <h2>Related posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date: site.date_format }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
{% endif %}

<div class="pagination">
  {% if page.previous %}
    <a class="pagination-item older" href="{{ page.previous | absolute_url }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if page.next %}
    <a class="pagination-item newer" href="{{ page.next | absolute_url }}">Newer</a>
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
